.column {
  background-color: var(--color-text-muted);
  border-radius: 8px;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.columnHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.countBadge {
  background-color: var(--color-background);
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 0.9rem;
}

.columnList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  background-color: var(--color-on-primary);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.cardFooter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}



.emptyText {
  text-align: center;
  color: var(--color-text);
}