.mainContainer {
  padding: 0 20px;
}

.welcomeRow {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.columnsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.infoText {
  text-align: center;
}